/* CSS Variables */
:root {
  --color-black: #24262D;

  --color-mint-50: #E8FBF4;
  --color-mint-100: #C7F6E5;
  --color-mint-200: #A5F0D6;
  --color-mint-300: #84EBC7;
  --color-mint-400: #63E5B8;
  --color-mint-500: #42E0A9;
  --color-mint-600: #32D3A0;
  --color-mint-700: #2BBE90;
  --color-mint-800: #249A77;
  --color-mint-900: #1A7058;

  /* aqua */
  --color-mint-50: #E7F8FD;
  --color-mint-100: #C5EEF9;
  --color-mint-200: #A3E3F5;
  --color-mint-300: #81D8F1;
  --color-mint-400: #5FCEED;
  --color-mint-500: #3DC3E9;
  --color-mint-600: #2BBBE3;
  --color-mint-700: #24A3C6;
  --color-mint-800: #1C8BAA;
  --color-mint-900: #156F87;


  /* neutral */
  --color-mint-50: #F9FAFB;
  --color-mint-100: #F3F4F6;
  --color-mint-200: #E5E7EB;
  --color-mint-300: #D1D5DB;
  --color-mint-400: #9CA3AF;
  --color-mint-500: #6B7280;
  --color-mint-600: #4B5563;
  --color-mint-700: #374151;
  --color-mint-800: #1F2937;
  --color-mint-900: #111827;


  /* danger */
  --color-mint-50: #FDECEC;
  --color-mint-100: #FBD4D4;
  --color-mint-200: #F9BBBB;
  --color-mint-300: #F7A3A3;
  --color-mint-400: #F58A8A;
  --color-mint-500: #F27272;
  --color-mint-600: #F15B5B;
  --color-mint-700: #E94242;
  --color-mint-800: #C92929;
  --color-mint-900: #A31E1E;


  /* warning */
  --color-mint-50: #FFF9E5;
  --color-mint-100: #FFF3C7;
  --color-mint-200: #FFEDA9;
  --color-mint-300: #FFE78B;
  --color-mint-400: #FFE06D;
  --color-mint-500: #FFD94F;
  --color-mint-600: #FFD231;
  --color-mint-700: #EAB800;
  --color-mint-800: #C59C00;
  --color-mint-900: #8F7000;



}



html {
  scroll-behavior: smooth;
}


/* Base font setup */
body {
  font-family: 'Inter', sans-serif;
}


.menu_link {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.menu_link_active {
  color: var(--primary2-600, #1469B5);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}


/* sidebar code  */
.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}


/* scrollbar section  */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
  -webkit-overflow-scrolling: touch;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-style::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

/* Track */
.scrollbar-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
}

/* Handle */
.scrollbar-style::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 90px;

}

.scrollbar-style::-webkit-scrollbar-corner {}

/* Handle on hover */
.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187)
}